$primary-color: #DC2D13;
$primary-color-shade: rgba(220, 46, 19, 0.459);
$primary-color-dark: rgb(194, 43, 19);
$secondary-color:#FFA500;
$gray-color: #555555;
$gray-color-shade1: #ccc6c6;
$gray-color-shade2: #beb9b9;
$gray-color-shade5:#222222;
$black-shade:rgba(0, 0, 0, 0.800);
$black-shade2:#171A1A;
$pale-black:#2e3d49;
$pale-black2:#72848B;
$white-color: white;
$white-color-shade2: #f5f5f5;
$white-color-shade3: #c4c2c2e0;
$hoverd-color:#dc2d13;
