<!--body-->
<div class="container-fluid no-gutters dashboard">
  <div class="row no-gutters dashboard-container">
    <!--seller details-->
    <div class="col-3 dashboard-details">
      <div class="card dashboard-details__card">
        <img src="../assets/photoTemplate300px.png" class="card-img-top dashboard-details__card-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">seller name</h5>
          <div class="dashboard-details__card-links">
            <a href="#" class="btn  mb-1 btn--ordinary__right-border-secondary">Your
              products</a>
            <a href="#" class="btn mb-1 btn--ordinary__right-border-secondary">Add product</a>
            <a href="#" class="btn  btn--ordinary__right-border-secondary">Sign out <i
                class="fas fa-sign-out-alt"></i></a>

          </div>
        </div>
      </div>
    </div>
    <!--products data-->
    <div class="col-9 dashboard-data ">
      <table class="table table-bordered dashboard-data__table">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">#C123</th>
            <td>Product one</td>
            <td>this product is red and has white border</td>
            <td>
              <i class="fas fa-pencil-alt dashboard-data__table-edit m-2"></i>
              <i class="fas fa-trash-alt  dashboard-data__table-delete"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">#X123</th>
            <td>Product two</td>
            <td>this product is red and has white border</td>
            <td>
              <i class="fas fa-pencil-alt dashboard-data__table-edit m-2"></i>
              <i class="fas fa-trash-alt  dashboard-data__table-delete"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">#Y123</th>
            <td>Product three</td>
            <td>this product is red and has white border</td>
            <td>
              <i class="fas fa-pencil-alt dashboard-data__table-edit m-2"></i>
              <i class="fas fa-trash-alt  dashboard-data__table-delete"></i>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>