<app-title>Add New spare part</app-title>
<!-- form -->
<div class="container my-5 py-5 ">
  <form [formGroup]="sparePartForm" (ngSubmit)="onSubmit()">
    <div class="row no-gutters pt-3 d-flex justify-content-center">

      <!--SparePart Image-->
      <div class="col-md-4 col-sm-6">


        <label for="file-input">
          <img [src]="filePreview" class="rounded mx-auto d-block img-fluid" alt="add spare part img">
        </label>
        <input type="file" id="file-input" style="display: none" name="image" (change)="onFileChanged($event)">

      </div>

      <!--SparePart Details-->
      <div class="col-md-7 col-sm-6 mx-2 mt-n1">


        <div class="form-group">
          <label for="Name">Name</label>
          <!-- [ngClass]="{'error-border':sparePartForm.get('name').errors}"-->
          <input formControlName="name" type="text" class="form-control" id="name">
          <div class="error-msg"
            *ngIf="sparePartForm.get('name').hasError('required') && sparePartForm.get('name').touched ">
            Please Enter Name
          </div>
          <div class="error-msg"
            *ngIf="(sparePartForm.get('name').hasError('minlength') || sparePartForm.get('name').hasError('maxlength')) && sparePartForm.get('name').touched ">
            Name should be more than 3 letters and less than 30
          </div>
        </div>


        <div class="form-group">
          <label for="Description">Description</label>
          <textarea formControlName="description" class="form-control" id="Description" rows="3"></textarea>
          <div class="error-msg"
            *ngIf="sparePartForm.get('description').hasError('required') && sparePartForm.get('description').touched ">
            Please Enter Description
          </div>
          <div class="error-msg"
            *ngIf="(sparePartForm.get('description').hasError('minlength') || sparePartForm.get('description').hasError('maxlength')) && sparePartForm.get('description').touched ">
            Description should be more than 10 letters and less than 50
          </div>
        </div>


        <div class="form-group">
          <label for="categories">Category</label>
          <select formControlName="categoryId" class="form-control" name="ddlCategories" id="categories">
            <option value='0'>
              <span>Select Category</span>
            </option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
          <div class="error-msg"
            *ngIf="sparePartForm.get('categoryId').hasError('required') && sparePartForm.get('categoryId').touched">
            Please choose a category
          </div>
        </div>

        <div class="form-group">
          <label for="making">Making</label>
          <select (change)="onChange($event)" formControlName="makingId" class="form-control" name="ddlMaking"
            id="making">
            <option value='0'>
              <span>Select Car making</span>
            </option>
            <option *ngFor="let making of makings" [value]="making.id">{{ making.name }}</option>
          </select>
          <div class="error-msg"
            *ngIf="sparePartForm.get('makingId').hasError('required') && sparePartForm.get('makingId').touched">
            Please choose a making
          </div>
        </div>

        <div class="form-group">
          <label for="model">Model</label>
          <select formControlName="modelId" class="form-control" name="ddlModel" id="model">
            <option value='0'>
              <span>Select Car model</span>
            </option>
            <option *ngFor="let model of models" [value]="model.id">{{ model.name }}</option>
          </select>
        </div>


        <div class="form-group">
          <label for="Price">Price</label>
          <input formControlName="price" type="text" class="form-control" id="Price">
          <div class="error-msg"
            *ngIf="sparePartForm.get('price').hasError('required') && sparePartForm.get('price').touched ">
            Please Enter Price
          </div>
          <div class="error-msg"
            *ngIf="sparePartForm.get('price').hasError('pattern') && sparePartForm.get('price').touched ">
            Price should be only number
          </div>
        </div>


        <div class="d-flex justify-content-between">
          <div class="w-50 pt-2">
            <label class="d-block">Sale?</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input mt-2 ml-0" type="radio" name="saleOptions" [formControl]="saleOptions"
                id="onSale" value="onSale">
              <label class="form-check-label ml-n1 mr-3" for="onSale">On Sale</label>
            </div>
            <div class="form-check form-check-inline ml-3">
              <input class="form-check-input mt-2 ml-0" type="radio" name="saleOptions" [formControl]="saleOptions"
                id="notOnSale" value="notOnSale">
              <label class="form-check-label ml-n1 mr-3" for="notOnSale">Not On Sale</label>
            </div>
          </div>
          <div class="form-group">
            <label for="discount">Discount</label>
            <input formControlName="discount" type="text" class="form-control" id="discount" name="discount">
            <div class="error-msg"
              *ngIf="sparePartForm.get('discount').hasError('pattern') && sparePartForm.get('discount').touched ">
              Discount should be only number
            </div>
          </div>
        </div>


        <div class="d-flex justify-content-end my-2">
          <button type="reset" class="btn btn--ordinary btn--color-secondary  mr-1" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn--ordinary btn--color-primary mr-1">Add</button>
        </div>
      </div>
    </div>
  </form>
</div>