<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Car Accessories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <link rel="stylesheet" href="font-awesome/css/all.css">

</head>

<body>
       <!--header-->
       <div class="container-fluid no-gutters">
            <div class="header-wrapper">
                <div class="row header no-gutters">
                    <div class="col">
                        <div class="row header-top no-gutters">
                            <div class="col-8"><i class="fas fa-phone phone-icon"></i> + 987 654 3210 <i
                                    class="fas fa-envelope mail-icon"></i> <a>AUTOZ(AT)ZONE.COM</a></div>
                            <div class="col-4 social-icons">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-google-plus-g"></i>
                                <i class="fab fa-pinterest"></i>
                                <i class="fab fa-youtube"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>
                        <div class="row header-bottom no-gutters">
                            <div class="col-2">
                                <img src="../assets/big-logo-w.png" alt="Logo" class="nav-logo" />
                            </div>
                            <div class="col-10">
                                <ul class="nav">
                                    <li class="nav-item">Home <i class="fas fa-caret-down"></i></li>
                                    <li class="nav-item">Vehicle Listing</li>
                                    <li class="nav-item">Blog <i class="fas fa-caret-down"></i></li>
                                    <li class="nav-item">Short codes <i class="fas fa-caret-down"></i></li>
                                    <li class="nav-item">Shop <i class="fas fa-caret-down"></i></li>
                                    <li class="nav-item">Contact <i class="fas fa-caret-down"></i></li>
                                    <li class="nav-item"><i class="fas fa-tachometer-alt"></i></li>
                                    <li class="nav-item"><i class="fas fa-bars"></i></i></li>
                                    <li class="nav-item">
                                        <div class="nav-btn">Sell your car</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row slider no-gutters">
                <div class="col">
                    <div class="slide-prev"></div>
                    <div class="slider-item active"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slider-item"></div>
                    <div class="slide-next"></div>
                </div>
            </div>
    
    
    
    
        </div>
    
        <!--title-->
        <div class="container-fluid no-gutters page-title">
            <div class="row no-gutters">
                <div class="col">
                    <div class="card text-white page-title__card">
                        <div class=" page-title__overlay"></div>
                        <div class="page-title__card-image"></div>
                        <img src="../assets/diagnostic-test-result.jpg" class="card-img page-title__card-image" alt="...">
                        <div class="lines-seperator"></div>
                        <div class="card-img-overlay">
                            <h1 class="card-title page-title__card-text">CHOOSE YOUR CAR</h1>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

    <!---------------------------about--------------------------->
    <section class="about" style="margin-top: 7rem;">
        <div class="container">
            <div class="card__head text-center">
                <h2 class=" pl-3">About Us</h2>
                <p class="text-muted">
                    Lorem Ipsum is simply dummy text of
                </p>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-5">
                    <span class="rhombus-arrow">
                        <i class="fas fa-sort-up"></i>
                    </span>
                    <h5 class="d-inline">TRUSTED NAME IN AUTO-WORLD</h5>
                    <div class="card-line mt-2 ml-5"></div>
                    <p class="text-muted mt-3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                    <p class="text-muted mt-4">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                    <div class="card--border mt-4">
                        <a href="#" class=" pl-3">
                            WE HAVE LARGEST VEHICLES STOCK
                        </a>
                    </div>
                    <div class="card-line mt-2 ml-5"></div>
                    <div class="card--border mt-4">
                        <a href="#" class=" pl-3">
                            WE DEAL WITH ALL BRANDS AND VEHICLES
                        </a>
                    </div>
                    <div class="card-line mt-2 ml-5"></div>

                </div>
                <div class="col-12 col-md-7 card__img--skewed">
                    <img src="../assets/about1.png" class="img-fluid">
                    <div class="card__img--skewed--small">
                        <img src="../assets/about2.png" class="img-fluid">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!---------------------------service--------------------------->
    <div class="container-fluid no-gutters pt-5 footer-container">
        <div class="row no-gutters">
            <div class="col ">
                <div class="card footer card__custom" style="height:610px">
                    <div class="card-body">
                        <div class="footer-overlay">
                            <!--two red boxes-->
                            <div class="row no-gutters">
                                <div class="col square__red">

                                </div>
                            </div>
                            <div class="container">
                                <!--Title-->
                                <div class="row no-gutters mb-5">
                                    <div class="col-12 text-center text-white">
                                        <h2>OUR SERVICES</h2>
                                        <p>WE ARE OFFER VEHICLES SERVICES 24/7</p>
                                    </div>
                                </div>
                                <!--Service-->
                                <div class="row mt-5">
                                    <div
                                        class="col-12 col-md-3 card__dark pt-3 pb-1 pl-0 pr-3 border-left border-right border-dark">
                                        <div class="card__box">
                                            <i class="fas fa-car-side fa-5x pl-3"></i>
                                            <div class="card-none pl-3">
                                                <div class="card-line mt-4"></div>
                                            </div>
                                            <div class="col-12 pl-3 mb-0 card__border ">
                                                <h3 class="mt-3">Car Diagnostic</h3>
                                                <div class=" card__body">
                                                    <p class="pl-0">Lorem Ipsum is simply dummy text of the printing</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-12 col-md-3 card__dark pt-3 pb-1 pl-0 pr-3 border-left border-right border-dark">
                                        <div class="card__box">
                                            <i class="fas fa-car-side fa-5x pl-3"></i>
                                            <div class="card-none pl-3">
                                                <div class="card-line mt-4"></div>
                                            </div>
                                            <div class="col-12 pl-3 mb-0 card__border ">
                                                <h3 class="mt-3">Car Diagnostic</h3>
                                                <div class=" card__body">
                                                    <p class="pl-0">Lorem Ipsum is simply dummy text of the printing</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-12 col-md-3 card__dark pt-3 pb-1 pl-0 pr-3 border-left border-right border-dark">
                                        <div class="card__box">
                                            <i class="fas fa-car-side fa-5x pl-3"></i>
                                            <div class="card-none pl-3">
                                                <div class="card-line mt-4"></div>
                                            </div>
                                            <div class="col-12 pl-3 mb-0 card__border ">
                                                <h3 class="mt-3">Car Diagnostic</h3>
                                                <div class=" card__body">
                                                    <p class="pl-0">Lorem Ipsum is simply dummy text of the printing</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-12 col-md-3 card__dark pt-3 pb-1 pl-0 pr-3 border-left border-right border-dark">
                                        <div class="card__box">
                                            <i class="fas fa-car-side fa-5x pl-3"></i>
                                            <div class="card-none pl-3">
                                                <div class="card-line mt-4"></div>
                                            </div>
                                            <div class="col-12 pl-3 mb-0 card__border ">
                                                <h3 class="mt-3">Car Diagnostic</h3>
                                                <div class=" card__body">
                                                    <p class="pl-0">Lorem Ipsum is simply dummy text of the printing</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------Simples of Cars--------------------------->
    <section class="mt-5 mb-5">
        <div class="container">
            <div class=" text-center">
                <h2 class=" pl-3">Simple Of Cars</h2>
                <p class="text-muted">
                    Lorem Ipsum is simply dummy text of
                </p>
            </div>
            <div class="row mt-5 mb-4">
                <!-- large card -->
                <div class="col-12 col-md-6 card--img card__img--large">
                    <div class="card__title">
                        <a href="#" style="display:block !important;">Hyundai- Elantra</a>
                    </div>
                    <img src="../assets/card-video.jpg" class="img-fluid" width="100%" style="height:430px">
                    <div class="card__overlay">
                        <div class=" card__tag--left" style="right: 4%;">
                            <span>500000</span>
                        </div>
                    </div>
                </div>
                <!-- small card -->
                <div class="col-12 col-md-6 card--img">
                    <div class="row">
                        <div class="col-6 col-md-6 card--img--small">
                            <div class="card__title">
                                <a href="#" style="display:block !important;">Hyundai- Elantra</a>
                            </div>
                            <img src="../assets/card-video.jpg" class="img-fluid" style=" height: 207px">
                            <div class="card__overlay--small">
                                <div class=" card__tag--left" style="right: 4%;">
                                    <span>500000</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 card--img--small">
                            <div class="card__title">
                                <a href="#" style="display:block !important;">Hyundai- Elantra</a>
                            </div>
                            <img src="../assets/card-video.jpg" class="img-fluid" style=" height: 207px">
                            <div class="card__overlay--small">
                                <div class=" card__tag--left" style="right: 4%;">
                                    <span>500000</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 card--img--small mt-3">
                            <div class="card__title">
                                <a href="#" style="display:block !important;">Hyundai- Elantra</a>
                            </div>
                            <img src="../assets/card-video.jpg" class="img-fluid" style=" height: 207px">
                            <div class="card__overlay--small">
                                <div class=" card__tag--left" style="right: 4%;">
                                    <span>500000</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 card--img--small mt-3">
                            <div class="card__title">
                                <a href="#" style="display:block !important;">Hyundai- Elantra</a>
                            </div>
                            <img src="../assets/card-video.jpg" class="img-fluid" style=" height: 207px">
                            <div class="card__overlay--small">
                                <div class=" card__tag--left" style="right: 4%;">
                                    <span>500000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!---------------------------tutorials--------------------------->
    <section class=" mb-5" style="margin-top: 4rem" >
        <div class="container">
            <div class="card__head mb-5 text-center ">
                <h2 class="">Tutorials</h2>
                <p class="text-muted">
                    Lorem Ipsum is simply dummy text of
                </p>
            </div>
            <div class="row card__video--box">
                <div class="col-7 col-md-7 pl-0 mt-4">
                    <div class="card__video--head">
                        <h3 class="card--border-gray pl-3">How to change your car's tire</h3>
                        <div class="square--rotated">
                            <span class="square__content">19 OCT</span>
                        </div>
                    </div>
                    <div class="card-line mt-2 ml-5"></div>
                    <p class="text-muted mt-4 pl-4" style="  width: 83%; ">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                </div>
                <div class="col-12 col-md-5 card__video pl-0 pr-0">
                    <div class="card__video--overlay text-center">
                        <button type="button" style="transform: translateY(7.5rem);"
                            class="btn rounded-circle btn--color-primary" data-toggle="modal"
                            data-target="#exampleModalCenter">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row card__video--box mt-4">
                <div class="col-7 col-md-7 pl-0 mt-4">
                    <div class="card__video--head">
                        <h3 class="card--border-gray pl-3">How to change your car's tire</h3>
                        <div class="square--rotated">
                            <span class="square__content">19 OCT</span>
                        </div>
                    </div>
                    <div class="card-line mt-2 ml-5"></div>
                    <p class="text-muted mt-4 pl-4" style="  width: 83%; ">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                </div>
                <div class="col-12 col-md-5 card__video pl-0 pr-0">
                    <div class="card__video--overlay text-center">
                        <button type="button" style="transform: translateY(7.5rem);"
                            class="btn rounded-circle btn--color-primary" data-toggle="modal"
                            data-target="#exampleModalCenter">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------------- Modal -------------->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe width="760" height="315" src="https://www.youtube.com/embed/XD3dVGCouxU" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn--color-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
     <!---------------------------Diagnostic------------------------->
     <section class="bg--img text-center " style="margin-top: 6rem">
            <div class="bg--img-overlay " >
               <h2 class="text-white"style="transform: translatey(6rem)" >YOU HAVE A PROBLEM WITH YOUR CAR</h2>
               <button type="button" class="btn btn--ordinary__without-border " style="transform: translatey(9rem)"><a href="#"
                style="color: white">EXPLORE IT NOW</a></button>
            </div>
        </section>
    <!---------------------------Partners--------------------------->
    <section class="mt-5 mb-5">
        <div class="container">
            <div class="card__head mb-5 text-center">
                <h2 class="">Our Partners</h2>
                <p class="text-muted">
                    Lorem Ipsum is simply dummy text of
                </p>
            </div>
            <div class="row ">
                <div class="col-12 text-center">
                    <img src="../assets/partner.png" class="img-fluid">
                </div>
            </div>
            <div class="row card__container mt-5">
                <div class="col-md-2">
                    <a href="">
                        <img src="../assets/agency1.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <img src="../assets/agency3.png" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <img src="../assets/agency4.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <img src="../assets/agency5.png" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <img src="../assets/agency6.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <img src="../assets/agency7.png" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>

    </section>

   
    <!---------------------------footer----------------------------->
    <div class="container-fluid no-gutters pt-5 footer-container">
        <div class="row no-gutters">
            <div class="col ">
                <div class="card footer">
                    <div class="card-body">
                        <div class="footer-overlay">
                            <!--two red boxes-->
                            <div class="row no-gutters">
                                <div class="col square__red">

                                </div>
                            </div>
                            <!--logo-->
                            <div class="row no-gutters">
                                <div class="col footer-logo">
                                    <img src="../assets/logo.jpg">
                                    <div class="lines-seperator footer-logo__lines-seperator mt-3"></div>
                                </div>
                            </div>
                            <!--address-->
                            <div class="row no-gutters mt-5">
                                <div class="col footer-address">
                                    <p class="footer-key">: SHOWROOM LOCATION :</p>
                                    <p class="footer-value">32 Market St.128, Deeja Town, Florida, CA 12345</p>
                                </div>
                            </div>
                            <!--contact-->
                            <div class="row no-gutters mt-5 ">
                                <div class="col">
                                    <div class="footer-contacts">
                                        <span class="footer-key">PHONE: <span class="footer-value">+1 (234) 567
                                                8900</span></span>
                                        <span class="footer-key">FAX: <span class="footer-value">+1 (234) 567
                                                8900</span></span>
                                        <span class="footer-key">EMAIL: <span
                                                class="footer-value">info@autozone.com</span></span>
                                    </div>
                                </div>
                            </div>
                            <!--button-->
                            <div class="row no-gutters mt-5">
                                <div class="col footer-btn">
                                    <button type="button" class="btn btn-secondary btn--ordinary btn--triangle">
                                        <div class="btn--triangle--small"></div> <span class="btn--triangle--text">
                                            Top</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="footer-image"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col">
                <div class="footer-after">
                    <div class="triangle-down-arrow"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        $('.carousel').carousel({
            interval: 2000
        })
    </script>
</body>

</html>