<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>spare Parts</title>
    <link rel="stylesheet" type="text/css" media="screen" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <link rel="stylesheet" href="font-awesome/css/all.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    <!--header-->
    <div class="container-fluid no-gutters">
        <div class="header-wrapper">
            <div class="row header no-gutters">
                <div class="col">
                    <div class="row header-top no-gutters">
                        <div class="col-8"><i class="fas fa-phone phone-icon"></i> + 987 654 3210 <i
                                class="fas fa-envelope mail-icon"></i> <a>AUTOZ(AT)ZONE.COM</a></div>
                        <div class="col-4 social-icons">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-google-plus-g"></i>
                            <i class="fab fa-pinterest"></i>
                            <i class="fab fa-youtube"></i>
                            <i class="fab fa-instagram"></i>
                        </div>
                    </div>
                    <div class="row header-bottom no-gutters">
                        <div class="col-2">
                            <img src="../assets/big-logo-w.png" alt="Logo" class="nav-logo" />
                        </div>
                        <div class="col-10">
                            <ul class="nav">
                                <li class="nav-item">Home <i class="fas fa-caret-down"></i></li>
                                <li class="nav-item">Vehicle Listing</li>
                                <li class="nav-item">Blog <i class="fas fa-caret-down"></i></li>
                                <li class="nav-item">Short codes <i class="fas fa-caret-down"></i></li>
                                <li class="nav-item">Shop <i class="fas fa-caret-down"></i></li>
                                <li class="nav-item">Contact <i class="fas fa-caret-down"></i></li>
                                <li class="nav-item"><i class="fas fa-tachometer-alt"></i></li>
                                <li class="nav-item"><i class="fas fa-bars"></i></i></li>
                                <li class="nav-item">
                                    <div class="nav-btn">Sell your car</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--title-->
    <div class="container-fluid no-gutters page-title">
        <div class="row no-gutters">
            <div class="col">
                <div class="card text-white page-title__card">
                    <div class=" page-title__overlay"></div>
                    <img src="../assets/diagnostic-test-result.jpg" class="card-img page-title__card-image" alt="...">
                    <!--
                        <div class="lines-seperator"></div>
                    -->
                    <div class="card-img-overlay">
                        <h1 class="card-title page-title__card-text">Car Spare Parts</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!---------search bar----------->
    <div class="conatainer d-flex justify-content-center my-5 pt-5">
        <div class="row my-5 no-gutters">
            <div class="col-md-12">
                <div class="col-md-12 pl-0 mt-5">
                    <h2 class="pl-3 text-uppercase">Find your car parts</h2>
                </div>
                <div class="col-md-12 pl-5">
                    <div class="card-line"></div>
                </div>
                <div class="col-md-12 mt-3">
                    <button type="button" class="sekwed-btn py-2 px-5 border-0 ml-3 custom-btn w-100 bg-gray-shade-1">
                        <span class="text-uppercase fs-1"> Making <i class="fas fa-caret-down"></i></span>
                    </button>
                    <ul class="dropdown d-none">
                        <li class="p-2 border-bottom">latest added</li>
                        <li class="p-2 border-bottom">latest added</li>
                        <li class="p-2 border-bottom">latest added</li>
                        <li class="p-2">latest added</li>
                    </ul>
                </div>
                <div class="col-md-12 mt-3">
                    <button type="button" class="sekwed-btn py-2 px-5 border-0 ml-3 custom-btn w-100 bg-gray-shade-1">
                        <span class="text-uppercase fs-1"> Models <i class="fas fa-caret-down"></i></span>
                    </button>
                    <ul class="dropdown d-none">
                        <li class="p-2 border-bottom">latest added</li>
                        <li class="p-2 border-bottom">latest added</li>
                        <li class="p-2 border-bottom">latest added</li>
                        <li class="p-2">latest added</li>
                    </ul>
                </div>
                <div class="col-md-12 mt-3">
                    <button type="button" class="sekwed-btn py-2 px-5 border-0 ml-3 custom-btn w-100 bg-gray-shade-1">
                        <span class="text-uppercase fs-1"> Category <i class="fas fa-caret-down"></i></span>
                    </button>
                    <ul class="dropdown d-none">
                        <li class="p-2 border-bottom">latest added</li>
                        <li class="p-2 border-bottom">latest added</li>
                        <li class="p-2 border-bottom">latest added</li>
                        <li class="p-2">latest added</li>
                    </ul>
                </div>
                <div class="col-md-12 mt-3">
                    <button type="button"
                        class="sekwed-btn py-2 px-5 border-0 m-auto custom-btn w-50 bg-secondary-color d-flex justify-content-center">
                        <span class="text-uppercase fs-1"> Search </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!---------------Spare Card--------------------->
    <div class="container my-5">
        <div class="row d-flex justify-content-center no-gutters">

            <div class="card mx-1 my-2 col-md-3 col-sm-6">
                <img src="../assets/sparePart1.png" style="height: 175px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <ul class="ml-n4">
                        <li><a href="#" class="card-link">Card link</a></li>
                        <li><a href="#" class="card-link">Another link</a></li>
                    </ul>
                </div>
            </div>
            <div class="card mx-1 my-2 col-md-3 col-sm-6">
                <img src="../assets/sparePart2.png" style="height: 175px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <ul class="ml-n4">
                        <li><a href="#" class="card-link">Card link</a></li>
                        <li><a href="#" class="card-link">Another link</a></li>
                    </ul>
                </div>
            </div>
            <div class="card mx-1 my-2 col-md-3 col-sm-6">
                <img src="../assets/sparePart3.png" style="height: 175px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <ul class="ml-n4">
                        <li><a href="#" class="card-link">Card link</a></li>
                        <li><a href="#" class="card-link">Another link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- -----Footer----- -->
    <div class="container-fluid no-gutters pt-5 footer-container">
        <div class="row no-gutters">
            <div class="col ">
                <div class="card footer">
                    <div class="card-body">
                        <div class="footer-overlay">
                            <!--two red boxes-->
                            <div class="row no-gutters">
                                <div class="col square__red">

                                </div>
                            </div>
                            <!--logo-->
                            <div class="row no-gutters">
                                <div class="col footer-logo">
                                    <img src="../assets/logo.jpg">
                                    <div class="lines-seperator footer-logo__lines-seperator mt-3"></div>
                                </div>
                            </div>
                            <!--address-->
                            <div class="row no-gutters mt-5">
                                <div class="col footer-address">
                                    <p class="footer-key">: SHOWROOM LOCATION :</p>
                                    <p class="footer-value">32 Market St.128, Deeja Town, Florida, CA 12345</p>
                                </div>
                            </div>
                            <!--contact-->
                            <div class="row no-gutters mt-5 ">
                                <div class="col">
                                    <div class="footer-contacts">
                                        <span class="footer-key">PHONE: <span class="footer-value">+1 (234) 567
                                                8900</span></span>
                                        <span class="footer-key">FAX: <span class="footer-value">+1 (234) 567
                                                8900</span></span>
                                        <span class="footer-key">EMAIL: <span
                                                class="footer-value">info@autozone.com</span></span>


                                    </div>
                                </div>
                            </div>
                            <!--button-->
                            <div class="row no-gutters mt-5">
                                <div class="col footer-btn">
                                    <button type="button" class="btn btn-secondary btn--ordinary btn--triangle">
                                        <div class="btn--triangle--small"></div> <span class="btn--triangle--text">
                                            Top</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="footer-image"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col">
                <div class="footer-after">
                    <div class="triangle-down-arrow"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>