<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TutorialsDetails</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="node_modules/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
        <link rel="stylesheet" href="font-awesome/css/all.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.css"></head>

<body>
        <div class="container-fluid no-gutters" >
                <div class="header-wrapper">
                    <div class="row header no-gutters">
                        <div class="col">
                            <div class="row header-top no-gutters">
                                <div class="col-8"><i class="fas fa-phone phone-icon"></i> + 987 654 3210 <i
                                        class="fas fa-envelope mail-icon"></i> <a>AUTOZ(AT)ZONE.COM</a></div>
                                <div class="col-4 social-icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-google-plus-g"></i>
                                    <i class="fab fa-pinterest"></i>
                                    <i class="fab fa-youtube"></i>
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </div>
                            <div class="row header-bottom no-gutters">
                                <div class="col-2">
                                    <img src="../assets/big-logo-w.png" alt="Logo" class="nav-logo" />
                                </div>
                                <div class="col-10">
                                    <ul class="nav">
                                        <li class="nav-item">Home <i class="fas fa-caret-down"></i></li>
                                        <li class="nav-item">Vehicle Listing</li>
                                        <li class="nav-item">Blog <i class="fas fa-caret-down"></i></li>
                                        <li class="nav-item">Short codes <i class="fas fa-caret-down"></i></li>
                                        <li class="nav-item">Shop <i class="fas fa-caret-down"></i></li>
                                        <li class="nav-item">Contact <i class="fas fa-caret-down"></i></li>
                                        <li class="nav-item"><i class="fas fa-tachometer-alt"></i></li>
                                        <li class="nav-item"><i class="fas fa-bars"></i></i></li>
                                        <li class="nav-item">
                                            <div class="nav-btn">Sell your car</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--title-->
            <div class="container-fluid no-gutters page-title">
                <div class="row no-gutters">
                    <div class="col">
                        <div class="card text-white page-title__card">
                            <div class=" page-title__overlay"></div>
                            <img src="../assets/diagnostic-test-result.jpg" class="card-img page-title__card-image" alt="...">
                            <div class="lines-seperator"></div>
                            <div class="card-img-overlay">
                                <h1 class="card-title page-title__card-text">Tutoriel Details</h1>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
    <div class="car-spesfication">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <article class="car-details ">
                        <div class="car-details-title" style="margin-top: 64px;">
                            <div class="row">
                                <div class="col-md-8" style="margin-left: 30px;font-size:bolder">
                                    <h4> What Yoy Can Get From This Tutorial </h4>
                                </div>
                                
                            </div>
                        </div>
                        <!--slider show-->
                        <div class="containar">
                            <div class="row">
                                <div class="col-xl-12">
                                    <iframe width="100%" height="500px" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                </div>
                            </div>
                        </iframe>
                        </div>
                       <!--description--> 
                       <div class="container">
                           <div class="row">
                               <div class="col">
                                  <div class="tabs">
                                        <nav class="tab-nav">
                                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                                    role="tab" aria-controls="nav-home" style="font-size: 35px">Description</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content py-3 px-3 " id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                    <div class="row">
                                                            <div class="col-lg-6 ">
                                                                <ul>
                                                                    <li class="li-item">
                                                                        <i class="fa fa-plus"></i>
                                                                        <span style="margin-left: .5rem;">published by max
                                                                    </li>
                    
                                                                    <li class="li-item">
                                                                        <i class="fa fa-plus"></i>
                                                                        <span style="margin-left: .5rem;">learn how to fix wheel byyorself</span>
                                                                    </li>
                                                                    <li class="li-item">
                                                                        <i class="fa fa-plus"></i>
                                                                        <span style="margin-left: .5rem;">20000 recomend this tutorial</span>
                                                                    </li>
                                                                    <li class="li-item">
                                                                        <i class="fa fa-plus"></i>
                                                                        <span style="margin-left: .5rem;">cost of fix wheel byyourself cost 200$</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                           
                                                        </div>
                                                 </div>
                                          
                                           
                                           
                                        </div>
                                    </div> 
                               </div>
                           </div>
                       </div>   
                                   
                               </div>
                           </div>
                       </div>
                        
                    </article>
                </div>

                <!--row end-->
            </div>
            <!--contenair end-->
        </div>
        <!--car-spesfication-->
    </div>
<!-- Footer -->
<div class="container-fluid no-gutters pt-5 footer-container">
        <div class="row no-gutters">
            <div class="col ">
                <div class="card footer">
                    <div class="card-body">
                        <div class="footer-overlay">
                            <!--two red boxes-->
                            <div class="row no-gutters">
                                <div class="col square__red">

                                </div>
                            </div>
                            <!--logo-->
                            <div class="row no-gutters">
                                <div class="col footer-logo">
                                    <img src="../assets/logo.jpg">
                                    <div class="lines-seperator footer-logo__lines-seperator mt-3"></div>
                                </div>
                            </div>
                            <!--address-->
                            <div class="row no-gutters mt-5">
                                <div class="col footer-address">
                                    <p class="footer-key">: SHOWROOM LOCATION :</p>
                                    <p class="footer-value">32 Market St.128, Deeja Town, Florida, CA 12345</p>
                                </div>
                            </div>
                            <!--contact-->
                            <div class="row no-gutters mt-5 ">
                                <div class="col">
                                    <div class="footer-contacts">
                                        <span class="footer-key">PHONE: <span class="footer-value">+1 (234) 567
                                                8900</span></span>
                                        <span class="footer-key">FAX: <span class="footer-value">+1 (234) 567
                                                8900</span></span>
                                        <span class="footer-key">EMAIL: <span
                                                class="footer-value">info@autozone.com</span></span>
                                    </div>
                                </div>
                            </div>
                            <!--button-->
                            <div class="row no-gutters mt-5">
                                <div class="col footer-btn">
                                    <button type="button" class="btn btn-secondary btn--ordinary btn--triangle">
                                        <div class="btn--triangle--small"></div> <span class="btn--triangle--text">
                                            Top</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="footer-image"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col">
                <div class="footer-after">
                    <div class="triangle-down-arrow"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>