<app-title>Questionnaire</app-title>
<!--body-->
<div class="container-fluid no-gutters cards-container">
  <div class="row no-gutters">
    <div class="col-8 " style="margin: auto">
      <div class="card mb-3 card__dark-radius">
        <div class="card-body text-light">
          <h5 class="card-title">Question One</h5>
          <div class="list-group" style="max-width: 20rem;">
            <button type=" button"
              class="btn btn-secondary btn--ordinary btn--ordinary__without-border btn--ordinary__radius mb-2">
              <span>answer one</span>
            </button>

            <button type="button"
              class="btn btn-secondary btn--ordinary btn--ordinary__without-border btn--ordinary__radius mb-2">
              <span>answer two</span>
            </button>

            <button type="button"
              class="btn btn-secondary btn--ordinary btn--ordinary__without-border btn--ordinary__radius mb-2">
              <span>answer three</span>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>