<!---------search bar----------->
<div class="conatainer d-flex justify-content-center my-5 pt-5">
  <div class="row my-5 no-gutters">
    <div class="col-md-12">
      <div class="col-md-12 pl-0 mt-5">
        <h2 class="pl-3 text-uppercase">Find your car parts</h2>
      </div>
      <div class="col-md-12 pl-5">
        <div class="card-line"></div>
      </div>
      <div class="col-md-12 mt-3">
        <button type="button" class="sekwed-btn py-2 px-5 border-0 ml-3 custom-btn w-100 bg-gray-shade-1">
          <span class="text-uppercase fs-1"> Making <i class="fas fa-caret-down"></i></span>
        </button>
        <ul class="dropdown d-none">
          <li class="p-2 border-bottom">latest added</li>
          <li class="p-2 border-bottom">latest added</li>
          <li class="p-2 border-bottom">latest added</li>
          <li class="p-2">latest added</li>
        </ul>
      </div>
      <div class="col-md-12 mt-3">
        <button type="button" class="sekwed-btn py-2 px-5 border-0 ml-3 custom-btn w-100 bg-gray-shade-1">
          <span class="text-uppercase fs-1"> Models <i class="fas fa-caret-down"></i></span>
        </button>
        <ul class="dropdown d-none">
          <li class="p-2 border-bottom">latest added</li>
          <li class="p-2 border-bottom">latest added</li>
          <li class="p-2 border-bottom">latest added</li>
          <li class="p-2">latest added</li>
        </ul>
      </div>
      <div class="col-md-12 mt-3">
        <button type="button" class="sekwed-btn py-2 px-5 border-0 ml-3 custom-btn w-100 bg-gray-shade-1">
          <span class="text-uppercase fs-1"> Category <i class="fas fa-caret-down"></i></span>
        </button>
        <ul class="dropdown d-none">
          <li class="p-2 border-bottom">latest added</li>
          <li class="p-2 border-bottom">latest added</li>
          <li class="p-2 border-bottom">latest added</li>
          <li class="p-2">latest added</li>
        </ul>
      </div>
      <div class="col-md-12 mt-3">
        <button type="button"
          class="sekwed-btn py-2 px-5 border-0 m-auto custom-btn w-50 bg-secondary-color d-flex justify-content-center">
          <span class="text-uppercase fs-1"> Search </span>
        </button>
      </div>
    </div>
  </div>
</div>

<!---------------Spare Card--------------------->
<div class="container my-5">
  <div class="row d-flex justify-content-center no-gutters">

    <div class="card mx-1 my-2 col-md-3 col-sm-6">
      <img src="../assets/sparePart1.png" style="height: 175px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <ul class="ml-n4">
          <li><a href="#" class="card-link">Card link</a></li>
          <li><a href="#" class="card-link">Another link</a></li>
        </ul>
      </div>
    </div>
    <div class="card mx-1 my-2 col-md-3 col-sm-6">
      <img src="../assets/sparePart2.png" style="height: 175px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <ul class="ml-n4">
          <li><a href="#" class="card-link">Card link</a></li>
          <li><a href="#" class="card-link">Another link</a></li>
        </ul>
      </div>
    </div>
    <div class="card mx-1 my-2 col-md-3 col-sm-6">
      <img src="../assets/sparePart3.png" style="height: 175px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <ul class="ml-n4">
          <li><a href="#" class="card-link">Card link</a></li>
          <li><a href="#" class="card-link">Another link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>