<!--title-->
<app-title>Car Spare Parts</app-title>

<section class="card-listing">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-------------------------------- sorting bar ----------------------->
        <div class="row mb-3 ">
          <div class="col-md-12 sorting-bar">
            <div class="row">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-2 dropdown-box mt-4" style="max-width:14.666667%;">
                    <span>Sorted By</span>
                  </div>

                  <div class="col-md-3 pr-0 mt-3 mr-4">
                    <select class="custom-dropdown" style="padding: 6% 6%;">
                      <option value='0'>
                        <span>Production year <i class="fas fa-caret-down"></i></span>
                      </option>
                    </select>
                  </div>
                  <div class="col-md-3 pl-0 pr-0 mt-3">
                    <button type="button" class="sekwed-btn p-2 border-0">
                      <span> Price <i class="fas fa-caret-down"></i></span>
                    </button>
                    <ul class="dropdown d-none">
                      <li class="p-2 border-bottom">Hight To Low</li>
                      <li class="p-2 border-bottom">Low To Hight</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!---------------Spare Card--------------------->
        <div class="container my-5">
          <div class="row">
            <app-sparePart-item [sparePart]="sparePart" *ngFor="let sparePart of allSpareParts"
              class="col-3 p-0 mr-5 mb-3">
            </app-sparePart-item>
          </div>
        </div>
      </div>
      <!----------------------------- side bar ------------------------->
      <div class="col ml-4 side-bar pl-0">

        <div class="col-md-12 pl-0 mt-5">
          <h6 class="pl-3">Select car MAKING & MODEL</h6>
        </div>
        <div class="col-md-12 pl-5">
          <div class="card-line"></div>
        </div>
        <div class="col-md-12 mt-3">
          <select class="custom-dropdown" (change)="makingOnChange($event)">
            <option value='0'>
              <span>ALL MAKINGS <i class="fas fa-caret-down"></i></span>
            </option>
            <option *ngFor="let making of makings" [value]="making.id">{{making.name}}</option>
          </select>
        </div>


        <div class="col-md-12 mt-3">
          <select class="custom-dropdown">
            <option disabled>
              <span>ALL MODELS <i class="fas fa-caret-down"></i></span>
            </option>
            <option *ngFor="let model of models" [value]="model.id">{{model.name}}</option>
          </select>
        </div>

        <div class="col-md-12 pl-0 mt-5">
          <h6 class="pl-3">Select Spare-part CATEGORY</h6>
        </div>
        <div class="col-md-12 pl-5">
          <div class="card-line"></div>
        </div>
        <div class="col-md-12 mt-3">
          <select class="custom-dropdown">
            <option disabled>
              <span>ALL CATEGORIES <i class="fas fa-caret-down"></i></span>
            </option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>


      </div>
    </div>
  </div>
</section>