.card-listing {
  margin-top: 8rem;
}

.custom-dropdown {
  transform: skew(-18deg);
  padding: 4% 10%;
  width: 100%;
  font-size: 14px;
  background-color: whitesmoke;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
}
.custom-dropdown option:hover {
  background-image: red;
}
