.container
{
    margin-top: 8rem !important;
    margin: auto;
    &-title
    {
        color: #DC2D13;
    }
}
.list-item
{
    font-size: 1.2rem;
    font-weight: 700;
    transition: margin-left 0.5s ease;
    &:hover
    {
        cursor: pointer;
     margin-left: 1rem !important;
     color: #FFA500;
    }
}