<!--title-->
<div class="container-fluid no-gutters page-title">
  <div class="row no-gutters">
    <div class="col">
      <div class="card text-white page-title__card">
        <div class=" page-title__overlay"></div>
        <img src="../assets/diagnostic-test-result.jpg" class="card-img page-title__card-image" alt="...">
        <div class="card-img-overlay">
          <h1 class="card-title page-title__card-text">
            <ng-content></ng-content>
          </h1>
        </div>
      </div>

    </div>
  </div>
</div>