<div class="card dashboard-details__card">
  <img [src]="seller.image" class="card-img-top dashboard-details__card-image" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{seller.name}}</h5>
    <div class="dashboard-details__card-links">
      <a class="btn  mb-1 btn--ordinary__right-border-secondary" (click)="ShowDashboard()">Your
        products</a>
      <a class="btn mb-1 btn--ordinary__right-border-secondary">Add product</a>
      <a class="btn  btn--ordinary__right-border-secondary" (click)="SignOut()">Sign out <i
          class="fas fa-sign-out-alt"></i></a>

    </div>
  </div>
</div>