<div class="tutorial">
  <div class="row tutorial-cover no-gutters">
      <div class="col card bg-dark text-white">
          <img class="card-img" src="../assets/tutorials.jpg" height="500" alt="Card image">
          <div class="card-img-overlay container">
              <h2 class="card-title main">Discover your car in our tutorials</h2>
              <p class="card-text main">Learn more about automotors, build mechanical skills and keep your car
                  guidance available any time. Take your first step by exploring our tutorials to find your
                  perfect one.</p>
              <p class="card-text main">Explore our tutorials below</p>
              <div class="row tutorial-nav">
                  <div class="col">
                      <div class="card text-center sub">
                          <div class="card-body">
                              <p class="card-text">Tutorials about</p>
                              <h5 class="card-title">Car Wheels</h5>
                              <i class="fas fa-arrow-down"></i>
                          </div>
                      </div>
                  </div>

                  <div class="col">
                      <div class="card text-center sub">
                          <div class="card-body">
                              <p class="card-text">Tutorials about</p>
                              <h5 class="card-title">Car Mechanics</h5>
                              <i class="fas fa-arrow-down"></i>
                          </div>
                      </div>
                  </div>

                  <div class="col">
                      <div class="card text-center sub">
                          <div class="card-body">
                              <p class="card-text">Tutorials about</p>
                              <h5 class="card-title">Car Electricity</h5>
                              <i class="fas fa-arrow-down"></i>
                          </div>
                      </div>
                  </div>

                  <div class="col">
                      <div class="card text-center sub">
                          <div class="card-body">
                              <p class="card-text">Tutorials about</p>
                              <h5 class="card-title">Car Paints</h5>
                              <i class="fas fa-arrow-down"></i>
                          </div>
                      </div>
                  </div>

                  <div class="col">
                      <div class="card text-center sub">
                          <div class="card-body">
                              <p class="card-text">Tutorials about</p>
                              <h5 class="card-title">Car Accessories</h5>
                              <i class="fas fa-arrow-down"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container pt-5">
      <div class="row tutorial-items">
          <div class="col">
              <div class="row mb-4">
                  <div class="col">
                      <div class="card text-white">
                          <img class="card-img" src="../assets/tutorials 1.jpg" alt="Card image">
                          <div class="card-img-overlay">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural
                                  lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text">Last updated 3 mins ago</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div class="card text-white">
                          <img class="card-img" src="../assets/tutorials 2.jpg" alt="Card image">
                          <div class="card-img-overlay">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural
                                  lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text">Last updated 3 mins ago</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="row mb-4">
                  <div class="col">
                      <div class="card text-white">
                          <img class="card-img" src="../assets/tutorials 3.jpg" alt="Card image">
                          <div class="card-img-overlay">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural
                                  lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text">Last updated 3 mins ago</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div class="card text-white">
                          <img class="card-img" src="../assets/tutorials 4.jpg" alt="Card image">
                          <div class="card-img-overlay">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural
                                  lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text">Last updated 3 mins ago</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card text-white">
                  <img class="card-img" src="../assets/tutorials 1.jpg" alt="Card image">
                  <div class="card-img-overlay">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row tutorial-items">
          <div class="col">
              <div class="row mb-4">
                  <div class="col">
                      <div class="card text-white">
                          <img class="card-img" src="../assets/tutorials 1.jpg" alt="Card image">
                          <div class="card-img-overlay">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural
                                  lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text">Last updated 3 mins ago</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="row mb-4">
                  <div class="col">
                      <div class="card text-white">
                          <img class="card-img" src="../assets/tutorials 3.jpg" alt="Card image">
                          <div class="card-img-overlay">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural
                                  lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text">Last updated 3 mins ago</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="row mb-4">
                  <div class="col">
                      <div class="card text-white">
                          <img class="card-img" src="../assets/tutorials 3.jpg" alt="Card image">
                          <div class="card-img-overlay">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural
                                  lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text">Last updated 3 mins ago</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
