.car-spesfication
{
  background-color:#F5F5F5;
  .car-details{ 
   .car-details-title{
     margin-bottom: 20px;
    padding-top: 17px;
    padding-right: 25px;
    padding-bottom: 18px;
    background-image: url('../images/texture-1.gif') ;
    overflow: hidden;
    .btn
    {
        &--skewx
        {
        &--text__secondary-color
        {
            padding-left: 2rem;
            padding-right: 2rem;
           &:after
            {
                content: ' ';
                @include skewed-overlay($hoverd-color,50%,50%,160px,20px,63deg);
            }
        }
        }
    }
  
    &::before{   
      content: " ";
      display: inline-block;
      background-color: #dc2d13;
      width: 9px;
      height: 44px;
      position: absolute;
      top: 0.5rem;
  }
   }
   .tabs{
     .tab-content{
      background-color: white;
        line-height: 25px;
        margin-top: 20px;
        font-size: 15px;
        height: 100%;
        position: relative;
        margin-bottom: 10px;
        ul
        {
            li {i{color: #dc2d13;padding-left: 1rem}}
            .li-item
            {
                border-bottom: 1px dotted #ddd;
                padding: 10px 0 5px 10px;
                position: relative;
            }
        }
        .left
        {
        //     margin-left: 1rem;
        //   &::before
        //   {
        //     // margin-right: 10px;
        //     // vertical-align: middle;
        //     content: "\f067";
        //     color: #dc2d13;
        //     font-family: FontAwesome;
        //     position: absolute;
        //     font-size: 20px ;
        //     margin-top: 0;
        //     position: absolute;
        //   }
        }
        
    }
.nav-tabs
   { 
      padding-top: 30px;
    //   .two-lines
    //   {
    //       width: 30%;
    //       height: 1rem;
    //       border-bottom: 1px solid black;
    //   }

  
     .nav-link
      {
        background-image: url(../images/texture-1.gif);
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #dc2d13;
        font-weight: bolder;
        color: #a5a5a5;
      }
      .active
      {
    background-color: transparent;
    color: #dc2d13;
    font-weight: bolder;
    border: none;
      } 
   }
   nav > div a.nav-item.nav-link
   {
      .active:after
         {
      border-top-color: #e74c3c ;
          }
      &:hover,:focus
         {
        color:#dc2d13;
        border:none;
        transition: 0.20s linear;
   }
  
   }
   }
   
  }
  .sidbar
  {
   background-color: white;
    // .lines-seperator-edit {
    //     width: 40px;
    //     border-top: 1px solid #ccc;
    //     display: block;
    //     position: absolute;
    //     left: 4rem;
    //     top: 2.5rem;
    //     color: black
    // }
    .widget-content
  {
    margin-top: 35px;
    margin-bottom: 8px;
    margin-left: 35px;
    .dd-item
    {
      border-bottom: 1px dotted #ddd;
      padding: 10px 0 5px 10px;
      position: relative;
      dt{
        display: inline-block;
        margin-left: 2px;
        font-weight: 500;
        color: #222;
        transition: all .3s;
        text-transform: uppercase;
        width: 50%;
        padding-bottom: 0;
        padding-left: 0;
        vertical-align: top;
        font-size: 12px;
        &::before{
                  margin-right: 10px;
            vertical-align: middle;
            content: "\f0da";
            color: red;
            font-family: FontAwesome;
            position: absolute;
            font-size: 15px ;
            margin-top: 0;
            position: absolute;
            left: 0;
            top: 13px;
        }
      }
      dd {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 17px;
        font-weight: 300;
        line-height: 1.7;
        width: 40%;
        vertical-align: top;
      }
    }
  }
  }
}
