.dropdown{
    position: absolute;
    z-index: 9;
    background-color: $white-color;
    list-style: none;
    width: 6.6rem;
    padding-left: 0rem;
    left: 5.2rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    &>li{
        padding: 0.5rem 0.5rem;
        &:hover{
            background-color: $primary-color;
            color: $white-color;
            cursor: pointer;
        }
    }
    &-box{
        border-left: 4px solid grey;
    }
}