.sorting-bar{
    background-image: url(../images/texture-1.gif);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    height: 4.5rem;
    &-icons > i {
        border: 2px solid lightgray;
        padding: 0.3rem;
        border-radius: 2px;
    }
}