<div class="car-spesfication">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <article class="car-details ">
              <div class="car-details-title" style="margin-top: 64px;">
                  <div class="row">
                      <div class="col-md-8 mx-auto text-center">
                          <h4>Ford Mustang Convertible </h4>
                      </div>
                      <div class="col-md-4  mx-auto text-center">
                          <button type="button" style="background-color:#dc2d13;"
                              class="btn btn--skewx  car-price">
                              <span class="btn--skewx--text__secondary-color">9,000</span></button>
                      </div>
                  </div>
              </div>
              <!--slider show-->
              
               <!--tabs under slider -->
               <div>
                <tabset>
                  <tab heading="Performance" id="tab1">
                        <div class="row">
                                <div class="col-lg-6 ">
                                    <ul>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Engine Capacity (CC)<span>: </span> 1,591 GAMMA 1.6 MPI</span>
                                        </li>

                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Valve System<span> :  </span>16 Valve</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Cylinders<span> :  </span>4 IN-LINE</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Max. Power (Hp/Rpm)<span> :  </span>127.5 / 6,300</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 ">
                                    <ul>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Max. Torque (Nm /Rpm)<span> :  </span>155 / 4,850</span>
                                        </li>
                                        
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Fuel Tank Capacity (Liters)<span> :  </span>50</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Transmission<span> :  </span>6 Speed Automatic Transmission</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">-------------</span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                  </tab>
                  <tab heading="Dimension & Weight">
                        <div class="row">
                                <div class="col-lg-6 ">
                                    <ul>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Engine Capacity (CC)<span>: </span> 1,591 GAMMA 1.6 MPI</span>
                                        </li>

                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Valve System<span> :  </span>16 Valve</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Cylinders<span> :  </span>4 IN-LINE</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Max. Power (Hp/Rpm)<span> :  </span>127.5 / 6,300</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 ">
                                    <ul>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Max. Torque (Nm /Rpm)<span> :  </span>155 / 4,850</span>
                                        </li>
                                        
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Fuel Tank Capacity (Liters)<span> :  </span>50</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Transmission<span> :  </span>6 Speed Automatic Transmission</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">-------------</span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                  </tab>
                  <tab heading="Suspension & Brake System"> <div class="row">
                        <div class="col-lg-6 ">
                            <ul>
                                <li class="li-item">
                                    <i class="fa fa-plus"></i>
                                    <span style="margin-left: .5rem;">Engine Capacity (CC)<span>: </span> 1,591 GAMMA 1.6 MPI</span>
                                </li>

                                <li class="li-item">
                                    <i class="fa fa-plus"></i>
                                    <span style="margin-left: .5rem;">Valve System<span> :  </span>16 Valve</span>
                                </li>
                                <li class="li-item">
                                    <i class="fa fa-plus"></i>
                                    <span style="margin-left: .5rem;">Cylinders<span> :  </span>4 IN-LINE</span>
                                </li>
                                <li class="li-item">
                                    <i class="fa fa-plus"></i>
                                    <span style="margin-left: .5rem;">Max. Power (Hp/Rpm)<span> :  </span>127.5 / 6,300</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 ">
                            <ul>
                                <li class="li-item">
                                    <i class="fa fa-plus"></i>
                                    <span style="margin-left: .5rem;">Max. Torque (Nm /Rpm)<span> :  </span>155 / 4,850</span>
                                </li>
                                
                                <li class="li-item">
                                    <i class="fa fa-plus"></i>
                                    <span style="margin-left: .5rem;">Fuel Tank Capacity (Liters)<span> :  </span>50</span>
                                </li>
                                <li class="li-item">
                                    <i class="fa fa-plus"></i>
                                    <span style="margin-left: .5rem;">Transmission<span> :  </span>6 Speed Automatic Transmission</span>
                                </li>
                                <li class="li-item">
                                    <i class="fa fa-plus"></i>
                                    <span style="margin-left: .5rem;">-------------</span>
                                </li>
                            </ul>

                        </div>
                    </div></tab>
                  <tab heading="Features">
                        <div class="row">
                                <div class="col-lg-6 ">
                                    <ul>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Engine Capacity (CC)<span>: </span> 1,591 GAMMA 1.6 MPI</span>
                                        </li>

                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Valve System<span> :  </span>16 Valve</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Cylinders<span> :  </span>4 IN-LINE</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Max. Power (Hp/Rpm)<span> :  </span>127.5 / 6,300</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 ">
                                    <ul>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Max. Torque (Nm /Rpm)<span> :  </span>155 / 4,850</span>
                                        </li>
                                        
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Fuel Tank Capacity (Liters)<span> :  </span>50</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">Transmission<span> :  </span>6 Speed Automatic Transmission</span>
                                        </li>
                                        <li class="li-item">
                                            <i class="fa fa-plus"></i>
                                            <span style="margin-left: .5rem;">-------------</span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                  </tab>
                </tabset>
              </div>
              
          </article>
      </div>   
      </div>
  </div>
</div>