<!-----------------------body-------------------------
<section class="card-listing mt-5">
    <div class="custom-bgcolor pt-3 pb-5">
        <div class="container">
            <h2 class=" mt-0">Most Recent</h2>
            <div class="line"></div>
            <div class="row mt-3">
                <div class=" owl-carousel owl-theme">
                    <app-accessories-item *ngFor="let i of  accessories"  [myItemAccessories]="i" ></app-accessories-item>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------tabs  --------------------->
<section class="tabs pt-5 pb-5">
    <div class="container">
        <h2 class=" mt-0 ">Car Accessories Categories</h2>
        <div class="line"></div>
        <div class="row mt-4">
            <div class="col-3 mr-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active text-dark" id="v-pills-cat1-tab" data-toggle="pill" href="#v-pills-cat1"
                        role="tab" aria-controls="v-pills-cat1" aria-selected="true">Car
                        Cover</a>
                    <a class="nav-link text-dark" id="v-pills-cat2-tab" data-toggle="pill" href="#v-pills-cat2"
                        role="tab" aria-controls="v-pills-cat2" aria-selected="false">Car Cleaning</a>
                    <a class="nav-link text-dark" id="v-pills-cat3-tab" data-toggle="pill" href="#v-pills-cat3"
                        role="tab" aria-controls="v-pills-cat3" aria-selected="false">Wheel Cover</a>
                    <a class="nav-link text-dark" id="v-pills-cat4-tab" data-toggle="pill" href="#v-pills-cat4"
                        role="tab" aria-controls="v-pills-cat4" aria-selected="false">Car Seat Cover</a>
                </div>
            </div>
            <div class="col-8 ml-3 border-left border-secondary">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-cat1" role="tabpanel"
                        aria-labelledby="v-pills-cat1-tab">
                        <div class="row ml-3 mb-5">
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-md-4 pl-0 pr-0">
                                        <img src="../assets/part03.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-8 pt-2">
                                        <a href="#" class="text-decoration-none">
                                            <h5 class="text-dark">Car Cover</h5>
                                            <span class="owl-box-span">$165.4</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-md-4 pl-0 pr-0">
                                        <img src="../assets/parts05.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-8 pt-2">
                                        <a href="#" class="text-decoration-none">
                                            <h5 class="text-dark">Car Cover</h5>
                                            <span class="owl-box-span">$165.4</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-md-4 pl-0 pr-0">
                                        <img src="../assets/part02.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-8 pt-2">
                                        <a href="#" class="text-decoration-none">
                                            <h5 class="text-dark">Car Cover</h5>
                                            <span class="owl-box-span">$165.4</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-3 mb-5">
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-md-4 pl-0 pr-0">
                                        <img src="../assets/part03.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-8 pt-2">
                                        <a href="#" class="text-decoration-none">
                                            <h5 class="text-dark">Car Cover</h5>
                                            <span class="owl-box-span">$165.4</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-md-4 pl-0 pr-0">
                                        <img src="../assets/parts05.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-8 pt-2">
                                        <a href="#" class="text-decoration-none">
                                            <h5 class="text-dark">Car Cover</h5>
                                            <span class="owl-box-span">$165.4</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-md-4 pl-0 pr-0">
                                        <img src="../assets/part02.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-8 pt-2">
                                        <a href="#" class="text-decoration-none">
                                            <h5 class="text-dark">Car Cover</h5>
                                            <span class="owl-box-span">$165.4</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-3">
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-md-4 pl-0 pr-0">
                                        <img src="../assets/part03.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-8 pt-2">
                                        <a href="#" class="text-decoration-none">
                                            <h5 class="text-dark">Car Cover</h5>
                                            <span class="owl-box-span">$165.4</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-md-4 pl-0 pr-0">
                                        <img src="../assets/parts05.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-8 pt-2">
                                        <a href="#" class="text-decoration-none">
                                            <h5 class="text-dark">Car Cover</h5>
                                            <span class="owl-box-span">$165.4</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-md-4 pl-0 pr-0">
                                        <img src="../assets/part02.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-8 pt-2">
                                        <a href="#" class="text-decoration-none">
                                            <h5 class="text-dark">Car Cover</h5>
                                            <span class="owl-box-span">$165.4</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-cat2" role="tabpanel" aria-labelledby="v-pills-cat2-tab">
                        ...</div>
                    <div class="tab-pane fade" id="v-pills-cat3" role="tabpanel" aria-labelledby="v-pills-cat3-tab">
                        ...</div>
                    <div class="tab-pane fade" id="v-pills-cat4" role="tabpanel" aria-labelledby="v-pills-cat4-tab">
                        ...</div>
                </div>
            </div>
        </div>
    </div>
</section>