<head>
    <style>
        .my-pagination /deep/ .current {
            margin-top: 2rem !important;
            background-color: #DC2D13;
        }
    </style>
</head>
<app-title>Accesories </app-title>
<section class="card-listing" style="margin-top: 60px;">
    <div class="pt-3 pb-5">
        <div class="container">
            <h2 class=" mt-0 mb-4">All Accessories</h2>
            <div class="line"></div>
            <div class="container">
                <div class="row">
                    <app-accessories-item class="col-md-3" *ngFor="let i of accessories | paginate: config"
                        [accessories]="i">
                    </app-accessories-item>
                </div>
                <pagination-controls class="text-center my-pagination" style="margin-top: 30px; background-color: red"
                    (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
    </div>
</section>
<hr style="width: 80%;text-align: center;height: 4rem;">

 <app-list-category></app-list-category>
