<table class="table table-bordered dashboard-data__table">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td scope="row">{{car.code}}</td>
      <td>{{car.making.name}}</td>
      <td style="max-width: 2rem;">{{car.description}}</td>
      <td>
        <i class="fas fa-pencil-alt dashboard-data__table-edit m-2" (click)="EditProduct('car')"></i>
        <i class="fas fa-trash-alt  dashboard-data__table-delete" (click)="DeleteProduct('car',car.id)"></i>
      </td>
    </tr>
    <tr *ngFor="let accessory of accessories">
      <td scope="row">{{accessory.code}}</td>
      <td>{{accessory.name}}</td>
      <td style="max-width: 2rem;">{{accessory.description}}</td>
      <td>
        <i class="fas fa-pencil-alt dashboard-data__table-edit m-2 " (click)="EditProduct('accessory')"></i>
        <i class="fas fa-trash-alt  dashboard-data__table-delete" (click)="DeleteProduct('accessory',accessory.id)"></i>
      </td>
    </tr>
    <tr *ngFor="let sparePart of spareParts">
      <td scope="row">{{sparePart.code}}</td>
      <td>{{sparePart.name}}</td>
      <td style="max-width: 2rem;">{{sparePart.description}}</td>
      <td>
        <i class="fas fa-pencil-alt dashboard-data__table-edit m-2" (click)="EditProduct('spareParts')"></i>
        <i class="fas fa-trash-alt  dashboard-data__table-delete" (click)="DeleteProduct('sparePart',sparePart.id)"></i>
      </td>
    </tr>

  </tbody>
</table>