.nav-dropdown
{
    position: inherit !important; 
    z-index: 0 !important; 
    background-color: transparent !important;
    width: auto !important;
    margin-top: 12px;
    box-shadow: none !important;
   .nav-item{
    &:hover
    {
        background-color: transparent !important;
        color: $primary-color !important;
    } 
   }
   &-menu
   {
       font-size:14px; 
       width:24%;
       &-item
       {
           margin: 10px 0px 10px 10px !important;
           padding-left: 10px !important; 
           border-left:3px solid $primary-color; 
           border-radius: 0px !important;
           font-weight: bold !important;
           color: $gray-color-shade5 !important;
           transition: margin-left 0.5s ease;
           &:hover
           {
               margin-left: 20px !important; 
           }
       }
   }
}
