 .pagination
    {
        margin-left: 44% !important;
    }
    .page-link
    {
        color: $gray-color-shade5 !important;
        border: 1px solid $gray-color-shade1 !important;
    //    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.1);

    }
