<app-title>Accessory Details</app-title>
<!-- body -->
<div class="container my-5 py-5">
  <div class="row pt-3">
    <!-- car spesfication class should be replaced after the modification of sass classes-->
    <div class="col-12 car-spesfication">
      <!--car-details-title should be renamed to details title after the modification-->
      <div class="car-details-title">
        <div class="row">
          <div class="col-md-8 mx-auto text-left">
            <h4>{{accessories.name}} </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 m-3">
      <img [src]="accessories.image" class="rounded mx-auto d-block img-fluid" alt="accessory img">
    </div>

    <div class="col-md-4 col-sm-12 m-3">
      <h3 class="border-bottom pb-2">Details</h3>
      <p>
        {{accessories.description}}
      </p>
    </div>


    <div class="col-md-3 col-sm-12 m-3">
      <h3 class="border-bottom pb-2 text-right">${{accessories.price}}</h3>
      <h5 class="mt-4 ml-3">Quantity</h5>
      <div class="d-flex mx-auto w-50 justify-content-center">
        <button class="increment-control__action d-flex justify-content-center align-items-center border"
          (click)="counter('decrement')" [disabled]="count < 1">-</button>
        <input type="text" class="form-control border text-center mx-2" title="Qty" value="1" id="inputval"
          [value]="myval" readonly required>
        <button class="increment-control__action d-flex justify-content-center align-items-center border"
          (click)="counter('increment')">+</button>
      </div>
      <button type="button" class="btn btn--ordinary btn--color-primary p-3 my-4 w-100"><span class="fs-1p3"><i
            class="fas fa-cart-plus mr-3"></i>Add to Cart</span>
      </button>
    </div>
  </div>
</div>