<!-- body -->
<div class="container my-5 py-5">
  <div class="row pt-3">
    <!-- car spesfication class should be replaced after the modification of sass classes-->
    <div class="col-12 car-spesfication">
      <!--car-details-title should be renamed to details title after the modification-->
      <div class="car-details-title">
        <div class="row">
          <div class="col-md-8 mx-auto text-left">
            <h4>Accessory Name</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 m-3">
      <img src="../assets/photoTemplate300px.png" class="rounded mx-auto d-block img-fluid" alt="accessory img">
    </div>

    <div class="col-md-4 col-sm-12 m-3">
      <h3 class="border-bottom pb-2">Details</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
    </div>


    <div class="col-md-3 col-sm-12 m-3">
      <h3 class="border-bottom pb-2 text-right">£ 22,03</h3>
      <h5 class="mt-4 ml-3">Quantity</h5>
      <div class="d-flex mx-auto w-50 justify-content-center">
        <a href="#" class="increment-control__action d-flex justify-content-center align-items-center border">-</a>
        <input type="text" class="form-control border text-center mx-2" title="Qty" value="1">
        <a href="#" class="increment-control__action d-flex justify-content-center align-items-center border">+</a>
      </div>
      <button type="button" class="btn btn--ordinary btn--color-primary p-3 my-4 w-100"><span class="fs-1p3"><i
            class="fas fa-cart-plus mr-3"></i>Add to Cart</span>
      </button>
    </div>
  </div>
</div>