.card-listing {
  margin-top: 8rem;
}
.card-img-top {
  height: 168px;
}
.card-tag {
  position: absolute;
  top: 50%;
  color: white;
  background-color: #ffa500;
  padding: 3px;
}

a {
  color: white !important;
  border-color: white;
}
