<!--header-->
<div class="container-fluid no-gutters">
  <div class="header-wrapper">
    <div class="row header no-gutters">
      <div class="col">
        <div class="row header-top no-gutters">
          <div class="col-8"><i class="fas fa-phone phone-icon"></i> + 987 654 3210 <i
              class="fas fa-envelope mail-icon"></i> <a>AUTOZ(AT)ZONE.COM</a></div>
          <div class="col-4 social-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>
        <div class="row header-bottom no-gutters">
          <div class="col-2">
            <img src="../assets/big-logo-w.png" alt="Logo" class="nav-logo" />
          </div>
          <div class="col-10">
            <ul class="nav">
              <li class="nav-item mr-2">Home</li>
              <li class="nav-item mr-2">About us</li>
              <li class="nav-item mr-2">Vehicles</li>
              <div class="dropdown nav-dropdown mr-2">
                <li class="nav-item dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Auto parts
                </li>
                <div class="dropdown-menu nav-dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li class="dropdown-item nav-item nav-dropdown-menu-item">Spare parts</li>
                  <li class="dropdown-item nav-item nav-dropdown-menu-item">Accessories</li>
                </div>
              </div>
              <div class="dropdown nav-dropdown mr-2">
                <li class="nav-item dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Features
                </li>
                <div class="dropdown-menu nav-dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li class="dropdown-item nav-item nav-dropdown-menu-item">Tutorials</li>
                  <li class="dropdown-item nav-item nav-dropdown-menu-item">Diagnosing your car
                  </li>
                </div>
              </div>

              <li class="nav-item">Contact </li>

              <li class="nav-item">
                <div class="nav-btn">Seller Log in</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>