<app-title>Car Listing</app-title>

<section class="card-listing">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-9">
                <!-------------------------------- sorting bar ----------------------->
                <div class="row mb-3 ">
                    <div class="col-md-12 sorting-bar">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-3 col-md-2 dropdown-box mt-4">
                                        <span class="responsive-text">Sorted By</span>
                                    </div>
                                    <div class=" col-4 col-md-3 pr-0 mt-3 mr-4">
                                        <select class="custom-dropdown" style="padding: 6% 6%;">
                                            <option value='0' disabled
                                                <ng-container *ngIf="makingName==null; else otherSelect">
                                                    <span>ALL MAKINGS<i class="fas fa-caret-down"></i></span>
                                                </ng-container>
                                                <ng-template #otherSelect>
                                                    <span>{{makingName}}<i class="fas fa-caret-down"></i></span>

                                                </ng-template>
                                            </option>
                                            <option value="1"> Recent Added </option>
                                            <option value="1"> Low to hight Price </option>
                                            <!-- <option  *ngFor="let item of yearProduction; let i =index" value="{{item.id}}">{{item.year}}</option> -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------------------------------- horizontal card ------------------->
                <!-- <div class="row horizontal">
                  <div class="card card-box col-md-12 p-3 mt-2 rounded-0">
                      <a href="" class="card-link">
                          <div class="row no-gutters">
                              <div class="col-md-4">
                                  <img src="images/car.jpg" class="card-img rounded-0" alt="...">
                                  <div class="card-tag">
                                      <span>500000</span>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <div class="card-body pt-1">
                                      <h4 class="card-title mt-0">Ford Car</h4>
                                      <div class="card-line"></div>
                                      <p class="card-text text-muted mt-3">This is a wider card with supporting
                                          text below as a
                                          natural lead-in to additional content. This content is a little bit
                                          longer.</p>
                                      <div class="row">
                                          <div class="col-md-6 list-unstyled text-left">
                                              <ul class="pl-0">
                                                  <li class="list-unstyled">
                                                      <span>name:</span>
                                                      <span class="text-muted">example</span>
                                                  </li>
                                                  <li class="list-unstyled">
                                                      <span>name:</span>
                                                      <span class="text-muted">example</span>
                                                  </li>
                                                  <li class="list-unstyled">
                                                      <span>name:</span>
                                                      <span class="text-muted">example</span>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="col-md-6 text-left">
                                              <li class="list-unstyled ">
                                                  <span>name:</span>
                                                  <span class="text-muted">example</span>
                                              </li>
                                              <li class="list-unstyled">
                                                  <span>name:</span>
                                                  <span class="text-muted">example</span>
                                              </li>
                                              <li class="list-unstyled">
                                                  <span>name:</span>
                                                  <span class="text-muted">example</span>
                                              </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
              </div> -->
                <!-------------------------------- vertical card --------------------->
                <div class="row vertical mt-3">
                    <div class="col-md-12 justify-content-center pl-2">
                        <div class="row justify-content-center">
                            <!-- All Making -->
                            <ng-container *ngIf="!specificMakingName && !specificColor  ; else specificmakingname">
                                <div *ngFor="let item of cars | paginate: { itemsPerPage: 6, currentPage: p } ; let i = index"
                                    class="card col-3 mb-3 rounded-0 border-0 p-0 mr-5 ">
                                    <a [routerLink]="['/car','details',item.id]" class="card-link">
                                        <div class="card-container">
                                            <img src={{item.images[0]}} class="card-img-top rounded-0" alt="...">
                                            <div class="card-tag">
                                                <span>{{item.price}}</span>
                                            </div>
                                        </div>
                                        <div class="card-body text-center p-3">
                                            <h5 class="card-title text-dark mt-0">{{item.making.name}}
                                                {{item.model.name}}</h5>
                                            <div class="row">
                                                <div class="col"></div>
                                                <div class="col pr-2">
                                                    <i class="fas fa-calendar-times d-block pl-3 card__icon"></i>
                                                    <span class="text-muted border-left pl-3">{{item.year}}</span>
                                                </div>
                                                <div class="col">
                                                    <i class="fas fa-car-battery d-block card__icon"></i>
                                                    <span
                                                        class="text-muted border-left border-right pl-3 pr-3">{{item.fuelTank}}</span>
                                                </div>
                                                <div class="col"></div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="justify-content-center col-12">
                                    <pagination-controls class="col-12" (pageChange)="p = $event"></pagination-controls>
                                </div>
                            </ng-container>

                            <!-- specific making -->
                            <ng-template #specificmakingname>
                                <div *ngFor="let item of (specificColor ? specificColor  :  specificMakingName ) | paginate: { itemsPerPage: 6, currentPage: p } ; let i = index"
                                    class="card col-4 col-md-3 mb-3 rounded-0 border-0 p-0 mr-5 ">
                                    <a [routerLink]="['/car','details',item.id]" class="card-link">
                                        <div class="card-container">
                                            <img src={{item.images[0]}} class="card-img-top rounded-0" alt="...">
                                            <div class="card-tag">
                                                <span>{{item.price}}</span>
                                            </div>
                                            <div class="card-body text-center p-3">
                                                <h5 class="card-title text-dark mt-0">{{item.making.name}}
                                                    {{item.model.name}}</h5>
                                                <div class="row">
                                                    <div class="col"></div>
                                                    <div class="col pr-2">
                                                        <i class="fas fa-calendar-times d-block pl-3 card__icon"></i>
                                                        <span class="text-muted border-left pl-3">{{item.year}}</span>
                                                    </div>
                                                    <div class="col">
                                                        <i class="fas fa-car-battery d-block card__icon"></i>
                                                        <span
                                                            class="text-muted border-left border-right pl-3 pr-3">{{item.fuelTank}}</span>
                                                    </div>
                                                    <div class="col"></div>

                                                </div>
                                            </div>
                                            
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 justify-content-center ">
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </div>
                            </ng-template>
                        </div>

                    </div>
                </div>
            </div>
            <!----------------------------- side bar ------------------------->
            <div class="col ml-4 side-bar pl-0">

                <div class="col-md-12 pl-0 mt-5">
                    <h6 class="pl-3">BY MAKING & MODELS</h6>
                </div>
                <div class="col-md-12 pl-5">
                    <div class="card-line"></div>
                </div>
                <div class="col-md-12 mt-3">
                    <select #makingSelect class="custom-dropdown" (change)="onChange($event, coloredSelect )">
                        <option value='0'>
                            <span>ALL MAKINGS <i class="fas fa-caret-down"></i></span>
                        </option>
                        <option *ngFor="let make of making; let i =index" value="{{make.id}}">{{make.name}}</option>
                    </select>
                </div>
                <div class="col-md-12 mt-3">
                    <select class="custom-dropdown" (click)="clickFunction($event )">
                        <option disabled>
                            <span>SELECT MODEL <i class="fas fa-caret-down"></i></span>
                        </option>
                        <option *ngFor="let model of modelss; let i =index" value="{{model.id}}">{{model}}</option>
                    </select>
                </div>

                <div class="col-md-12 pl-0 mt-4">
                    <h6 class="pl-3">COLOR</h6>
                </div>
                <div class="col-md-12 pl-5">
                    <div class="card-line"></div>
                </div>
                <div class="col-md-12 mt-3">
                    <!-- Color Select -->
                    <select #coloredSelect class="custom-dropdown" (change)="colorFunction($event,makingSelect)">
                        <option value='0'>
                            <span>ALL COLORS <i class="fas fa-caret-down"></i></span>
                        </option>
                        <option *ngFor="let color of colors; let i =index" value="{{color.id}}">{{color.name}}</option>
                    </select>
                </div>
                <div class="col-md-12 pl-0 mt-4">
                    <h6 class="pl-3">YEAR</h6>
                </div>
                <div class="col-md-12 mt-3">
                    <select class="custom-dropdown" style="padding: 6% 6%;" (click)="YearFunction($event)">
                        <option value='0'>
                            <span>ALL YEARS <i class="fas fa-caret-down"></i></span>
                        </option>
                        <option *ngFor="let item of yearProduction; let i =index" value="{{item.id}}">{{item.year}}
                        </option>
                    </select>
                </div>
                <div class="col-md-12 pl-0 mt-5">
                    <h6 class="pl-3">BY TYPES</h6>
                </div>
                <div class="col-md-12 pl-5">
                    <div class="card-line"></div>
                </div>
                <div class="row mt-4 no-gutters text-center">
                    <div class="col-5 ml-4 car-type no-gutters p-2 mb-2">
                        <img src="../assets/sedan-mini.png" class="img-fluid" alt="Sedan">
                    </div>
                    <div class="col-5 car-type ml-1 p-2 mb-2">
                        <img src="../assets/suv-mini.png" class="img-fluid" alt="Suv">
                    </div>
                    <div class="col-5 ml-4 car-type no-gutters p-2 mb-2">
                        <img src="../assets/picup-mini.png" class="img-fluid" alt="PickUp">
                    </div>
                    <div class="col-5 car-type ml-1 p-2 mb-2 ">
                        <img src="../assets/mini-mini.png" class="img-fluid" alt="MiniCar">
                    </div>
                    <div class="col-5 ml-4 car-type no-gutters p-2 mb-2">
                        <img src="../assets/convert-mini.png" class="img-fluid" alt="Convertible">
                    </div>
                    <div class="col-5 car-type ml-1 p-2 mb-2">
                        <img src="../assets/coupe-mini.png" class="img-fluid" alt="Coupe">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>