.card-listing{
    margin-top: 8rem;
}
.card-img-top{
    height: 168px;
}
.card-tag{
    position: absolute;
    top: 50%;
    color: white;
    background-color: #dc2d13;
    padding: 3px;
}
.custom-dropdown{
    transform: skew(-18deg);
    padding: 4% 19%;
    width: 100%;
    font-size: 14px;
    background-color: whitesmoke;
    border: none;
    
}
.custom-dropdown option:hover{
    background-image:red; 
}
