 <!---------------------------Simples of Cars--------------------------->
 <section class="mt-5 mb-5">
  <div class="container">
      <div class=" text-center">
          <h2 class=" pl-3">Simple Of Cars</h2>
          <p class="text-muted">
              Lorem Ipsum is simply dummy text of
          </p>
      </div>
      <div class="row mt-5 mb-4">
          <!-- large card -->
          <div class="col-12 col-md-6 card--img card__img--large">
              <div class="card__title">
                  <a href="#" style="display:block !important;">Hyundai- Elantra</a>
              </div>
              <img src="../assets/card-video.jpg" class="img-fluid" width="100%" style="height:430px">
              <div class="card__overlay">
                  <div class=" card__tag--left" style="right: 4%;">
                      <span>500000</span>
                  </div>
              </div>
          </div>
          <!-- small card -->
          <div class="col-12 col-md-6 card--img">
              <div class="row">
                  <div class="col-6 col-md-6 card--img--small">
                      <div class="card__title">
                          <a href="#" style="display:block !important;">Hyundai- Elantra</a>
                      </div>
                      <img src="../assets/card-video.jpg" class="img-fluid" style=" height: 207px">
                      <div class="card__overlay--small">
                          <div class=" card__tag--left" style="right: 4%;">
                              <span>500000</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-6 col-md-6 card--img--small">
                      <div class="card__title">
                          <a href="#" style="display:block !important;">Hyundai- Elantra</a>
                      </div>
                      <img src="../assets/card-video.jpg" class="img-fluid" style=" height: 207px">
                      <div class="card__overlay--small">
                          <div class=" card__tag--left" style="right: 4%;">
                              <span>500000</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-6 col-md-6 card--img--small mt-3">
                      <div class="card__title">
                          <a href="#" style="display:block !important;">Hyundai- Elantra</a>
                      </div>
                      <img src="../assets/card-video.jpg" class="img-fluid" style=" height: 207px">
                      <div class="card__overlay--small">
                          <div class=" card__tag--left" style="right: 4%;">
                              <span>500000</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-6 col-md-6 card--img--small mt-3">
                      <div class="card__title">
                          <a href="#" style="display:block !important;">Hyundai- Elantra</a>
                      </div>
                      <img src="../assets/card-video.jpg" class="img-fluid" style=" height: 207px">
                      <div class="card__overlay--small">
                          <div class=" card__tag--left" style="right: 4%;">
                              <span>500000</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
</section>
