<!---------------------------about--------------------------->
<section class="about" style="margin-top: 7rem;">
  <div class="container">
      <div class="card__head text-center">
          <h2 class=" pl-3">About Us</h2>
          <p class="text-muted">
              Lorem Ipsum is simply dummy text of
          </p>
      </div>
      <div class="row mt-5">
          <div class="col-12 col-md-5">
              <span class="rhombus-arrow">
                  <i class="fas fa-sort-up"></i>
              </span>
              <h5 class="d-inline">TRUSTED NAME IN AUTO-WORLD</h5>
              <div class="card-line mt-2 ml-5"></div>
              <p class="text-muted mt-3">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
              <p class="text-muted mt-4">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
              <div class="card--border mt-4">
                  <a href="#" class=" pl-3">
                      WE HAVE LARGEST VEHICLES STOCK
                  </a>
              </div>
              <div class="card-line mt-2 ml-5"></div>
              <div class="card--border mt-4">
                  <a href="#" class=" pl-3">
                      WE DEAL WITH ALL BRANDS AND VEHICLES
                  </a>
              </div>
              <div class="card-line mt-2 ml-5"></div>

          </div>
          <div class="col-12 col-md-7 card__img--skewed">
              <img src="../assets/about1.png" class="img-fluid">
              <div class="card__img--skewed--small">
                  <img src="../assets/about2.png" class="img-fluid">
              </div>

          </div>
      </div>
  </div>
</section>

