<!---------------------------service--------------------------->
<div class="container-fluid no-gutters pt-5 footer-container">

    <div class="row no-gutters">
        <div class="col ">
            <div class="card footer card__custom" style="height:610px">
                <div class="card-body">
                    <div class="footer-overlay">
                        <!--two red boxes-->
                        <div class="row no-gutters">
                            <div class="col square__red">

                            </div>
                        </div>
                        <div class="container">
                            <!--Title-->
                            <div class="row no-gutters mb-5">
                                <div class="col-12 text-center text-white">
                                    <h2>OUR SERVICES</h2>
                                    <p>WE ARE OFFER VEHICLES SERVICES 24/7</p>
                                </div>
                            </div>
                            <!--Service-->
                            <div class="row mt-5">
                                <div
                                    class="col-12 col-md-3 card__dark pt-3 pb-1 pl-0 pr-3 border-left border-right border-dark">
                                    <div class="card__box">
                                        <i class="fas fa-cogs fa-5x pl-3"></i>
                                        <div class="card-none pl-3">
                                            <div class="card-line mt-4"></div>
                                        </div>
                                        <div class="col-12 pl-3 mb-0 card__border ">
                                            <h3 class="mt-3">Car Diagnostic</h3>
                                            <div class=" card__body">
                                                <p class="pl-0">Do you have a problem with your car? You can now
                                                    diagnostic your car by yourself and we will try to help you</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-12 col-md-3 card__dark pt-3 pb-1 pl-0 pr-3 border-left border-right border-dark">
                                    <div class="card__box">
                                        <i class="fas fa-car-side fa-5x pl-3"></i>
                                        <div class="card-none pl-3">
                                            <div class="card-line mt-4"></div>
                                        </div>
                                        <div class="col-12 pl-3 mb-0 card__border ">
                                            <h3 class="mt-3">Buy New Car</h3>
                                            <div class=" card__body">
                                                <p class="pl-0">Do you want to buy a new car? take it easy we are gonna
                                                    help you</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-12 col-md-3 card__dark pt-3 pb-1 pl-0 pr-3 border-left border-right border-dark">
                                    <div class="card__box">
                                        <i class="fas fa-car-battery fa-5x pl-3"></i>
                                        <div class="card-none pl-3">
                                            <div class="card-line mt-4"></div>
                                        </div>
                                        <div class="col-12 pl-3 mb-0 card__border ">
                                            <h3 class="mt-3">Buy Spare Parts</h3>
                                            <div class=" card__body">
                                                <p class="pl-0">Do you want to buy a new spare part? here you can find a
                                                    collection of spare parts</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-12 col-md-3 card__dark pt-3 pb-1 pl-0 pr-3 border-left border-right border-dark">
                                    <div class="card__box">
                                        <i class="far fa-circle fa-5x pl-3"></i>
                                        <div class="card-none pl-3">
                                            <div class="card-line mt-4"></div>
                                        </div>
                                        <div class="col-12 pl-3 mb-0 card__border ">
                                            <h3 class="mt-3">Buy Accessories</h3>
                                            <div class=" card__body">
                                                <p class="pl-0">Do you want to buy a new accessory? Here you can find a
                                                    great collection of accessories for your car</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-image"></div>
                </div>
            </div>
        </div>
    </div>
</div>