  <!---------------------------Partners--------------------------->
  <section class="mt-5 mb-5">
    <div class="container">
        <div class="card__head mb-5 text-center">
            <h2 class="">Our Partners</h2>
            <p class="text-muted">
                Lorem Ipsum is simply dummy text of
            </p>
        </div>
        <div class="row ">
            <div class="col-12 text-center">
                <img src="../assets/partner.png" class="img-fluid">
            </div>
        </div>
        <div class="row card__container mt-5">
            <div class="col-md-2">
                <a href="">
                    <img src="../assets/agency1.jpg" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <img src="../assets/agency3.png" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <img src="../assets/agency4.jpg" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <img src="../assets/agency5.png" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <img src="../assets/agency6.jpg" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <img src="../assets/agency7.png" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

</section>
