<app-title>Add New Car</app-title>
<!-- form -->
<div class="container my-5 py-5 ">
  <div class="row no-gutters pt-3 d-flex justify-content-center">
    <div class="col-md-4 col-sm-6">
      <img src="../assets/photoTemplate300px.png" class="rounded mx-auto d-block img-fluid" alt="add spare part img">
    </div>
    <div class="col-md-7 col-sm-6 mx-2 mt-n1">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="">Making</label>
          <!-- dropDown list -->
          <select formControlName="makingId" class="form-control" name="ddlCategory" id="">
            <option value='0'>
              <span>Select Car Making</span>
            </option>
            <option *ngFor="let mak of making" [value]="mak.id">{{mak.name}}</option>
          </select>
          <div class="error-msg" *ngIf="myForm.get('makingId').hasError('required') && myForm.get('makingId').touched">
            Please choose Making
          </div>
        </div>

        <div class="form-group">
          <label for="">Model</label>
          <!-- dropDown list -->
          <select formControlName="modelId" class="form-control" name="ddlCategory" id="">
            <option value='0'>
              <span>Select Car Model</span>
            </option>
            <option *ngFor="let mod of model" [value]="mod.id">{{mod.name}}</option>
          </select>
          <div class="error-msg" *ngIf="myForm.get('modelId').hasError('required') && myForm.get('modelId').touched">
            Please choose Model
          </div>
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price" formControlName="price">
          <div class="error-msg" *ngIf="myForm.get('price').hasError('required') && myForm.get('price').touched ">
            Please Enter Price
          </div>
          <div class="error-msg" *ngIf="myForm.get('price').hasError('pattern') && myForm.get('price').touched ">
            Price should be only number
          </div>
        </div>

        <div class="form-group">
          <label for="">Color</label>
          <!-- dropDown list -->
          <select formControlName="colorId" class="form-control" name="ddlCategory" id="">
            <option value='0'>
              <span>Select Car Color</span>
            </option>
            <option *ngFor="let col of color" [value]="col.id">{{col.name}}</option>
          </select>
          <div class="error-msg" *ngIf="myForm.get('colorId').hasError('required') && myForm.get('colorId').touched">
            Please choose Color
          </div>
        </div>

        <div class="form-group">
          <label for="types">Type</label>
          <select class="form-control" id="types">
            <option>Sedan</option>
            <option>Suv</option>
            <option>Pick up</option>
            <option>MiniCar</option>
            <option>Convertible</option>
            <option>Couple</option>
          </select>
        </div>
        <div class="form-group">
          <label for="classification">Classification</label>
          <select class="form-control" id="classification">
            <option>1</option>
            <option>2</option>
          </select>
        </div>

        <div class="form-group">
          <label for="productionYear">Production Year</label>
          <input type="text" class="form-control" id="productionYear" formControlName="productionYear">
          <div class="error-msg"
            *ngIf="myForm.get('productionYear').hasError('required') && myForm.get('productionYear').touched ">
            Please Enter Production Year
          </div>
          <div class="error-msg"
            *ngIf="myForm.get('productionYear').hasError('pattern') && myForm.get('productionYear').touched ">
            Production Year should be only number
          </div>
        </div>

        <div class="form-group">
          <label for="cc">Engine Capacity (CC)</label>
          <input type="text" class="form-control" id="cc" formControlName="engineCapacity">
          <div class="error-msg"
            *ngIf="myForm.get('engineCapacity').hasError('required') && myForm.get('engineCapacity').touched ">
            Please Enter Engine Capacity
          </div>
          <div class="error-msg"
            *ngIf="myForm.get('engineCapacity').hasError('pattern') && myForm.get('engineCapacity').touched ">
            Engine Capacity should be only number
          </div>
        </div>

        <div class="d-flex justify-content-between form-group">
          <label>Has Turbo?</label>
          <div class="w-75 pt-1">
            <div class="form-check form-check-inline mr-5">
              <input class="form-check-input" type="radio" name="turboOptions" id="withTurbo" [value]="1"
                [formControl]="turboOptions">
              <label class="form-check-label" for="withTurbo">Yes</label>
            </div>
            <div class="form-check form-check-inline mr-5">
              <input class="form-check-input" type="radio" name="turboOptions" id="withoutTurbo" [value]="2"
                [formControl]="turboOptions">
              <label class="form-check-label" for="withoutTurbo">No</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="horsePower">Horse Power</label>
          <input type="text" class="form-control" id="horsePower" formControlName="horsePower">
          <div class="error-msg"
            *ngIf="myForm.get('horsePower').hasError('required') && myForm.get('horsePower').touched ">
            Please Enter Horse Power
          </div>
          <div class="error-msg"
            *ngIf="myForm.get('horsePower').hasError('pattern') && myForm.get('horsePower').touched ">
            Horse Power should be only number
          </div>
        </div>

        <div class="d-flex justify-content-between form-group">
          <label>ABS</label>
          <div class="w-75 pt-1">
            <div class="form-check form-check-inline mr-5">
              <input class="form-check-input" type="radio" name="ABSoptions" id="withABS" [value]="1"
                [formControl]="ABSoptions">
              <label class="form-check-label" for="withABS">Yes</label>
            </div>
            <div class="form-check form-check-inline mr-5">
              <input class="form-check-input" type="radio" name="ABSoptions" id="withoutABS" [value]="2"
                [formControl]="ABSoptions">
              <label class="form-check-label" for="withoutABS">No</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="fueltank">Fueltank</label>
          <input type="text" class="form-control" id="fueltank" formControlName="fueltank">
          <div class="error-msg" *ngIf="myForm.get('fueltank').hasError('required') && myForm.get('fueltank').touched ">
            Please Enter Fueltank
          </div>
        </div>

        <div class="form-group">
          <label for="">Cylinder</label>
          <!-- dropDown list -->
          <select formControlName="cylinderId" class="form-control" name="ddlCategory" id="">
            <option value='0'>
              <span>Select Car Cylinder</span>
            </option>
            <option *ngFor="let cyl of cylinder" [value]="cyl.id">{{cyl.cyl}}</option>
          </select>
          <div class="error-msg"
            *ngIf="myForm.get('cylinderId').hasError('required') && myForm.get('cylinderId').touched">
            Please choose Cylinder
          </div>
        </div>

        <div class="form-group">
          <label for="">Transmission</label>
          <!-- dropDown list -->
          <select formControlName="transimissionId" class="form-control" name="ddlCategory" id="">
            <option value='0'>
              <span>Select Car Transmission</span>
            </option>
            <option *ngFor="let trans of transimission" [value]="trans.id">{{trans.name}}</option>
          </select>
          <div class="error-msg"
            *ngIf="myForm.get('transimissionId').hasError('required') && myForm.get('transimissionId').touched">
            Please choose Transmission
          </div>
        </div>

        <div class="form-group">
          <label for="width">Width</label>
          <input type="text" class="form-control" id="width" formControlName="width">
          <div class="error-msg" *ngIf="myForm.get('width').hasError('required') && myForm.get('width').touched ">
            Please Enter Width
          </div>
          <div class="error-msg" *ngIf="myForm.get('width').hasError('pattern') && myForm.get('width').touched ">
            Width should be only number
          </div>
        </div>

        <div class="form-group">
          <label for="height">Height</label>
          <input type="text" class="form-control" id="height" formControlName="height">
          <div class="error-msg" *ngIf="myForm.get('height').hasError('required') && myForm.get('height').touched ">
            Please Enter Height
          </div>
          <div class="error-msg" *ngIf="myForm.get('height').hasError('pattern') && myForm.get('height').touched ">
            Height should be only number
          </div>
        </div>

        <div class="form-group">
          <label for="length">Length</label>
          <input type="text" class="form-control" id="length" formControlName="length">
          <div class="error-msg" *ngIf="myForm.get('length').hasError('required') && myForm.get('length').touched ">
            Please Enter Length
          </div>
          <div class="error-msg" *ngIf="myForm.get('length').hasError('pattern') && myForm.get('length').touched ">
            Length should be only number
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button type="reset" class="btn btn--ordinary btn--color-secondary  mr-1"
            (onclick)="onClick()">Cancel</button>
          <button type="submit" class="btn btn--ordinary btn--color-primary mr-1">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>