<app-title>Add New Car</app-title>
<!-- form -->
<div class="container my-5 py-5 ">
  <div class="row no-gutters pt-3 d-flex justify-content-center">
    <div class="col-md-4 col-sm-6">
      <img src="../assets/photoTemplate300px.png" class="rounded mx-auto d-block img-fluid" alt="add spare part img">
    </div>
    <div class="col-md-7 col-sm-6 mx-2 mt-n1">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="">Making</label>
          <!-- dropDown list -->
          <select formControlName="makingId" class="form-control" name="ddlCategory" id="">
            <option *ngFor="let mak of making" [value]="mak.id">{{mak.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Model</label>
          <!-- dropDown list -->
          <select formControlName="modelId" class="form-control" name="ddlCategory" id="">
            <option *ngFor="let mod of model" [value]="mod.id">{{mod.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price" formControlName="price">
        </div>

        <div class="form-group">
          <label for="">Color</label>
          <!-- dropDown list -->
          <select formControlName="colorId" class="form-control" name="ddlCategory" id="">
            <option *ngFor="let col of color" [value]="col.id">{{col.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="types">Type</label>
          <select class="form-control" id="types">
            <option>Sedan</option>
            <option>Suv</option>
            <option>Pick up</option>
            <option>MiniCar</option>
            <option>Convertible</option>
            <option>Couple</option>
          </select>
        </div>
        <div class="form-group">
          <label for="classification">Classification</label>
          <select class="form-control" id="classification">
            <option>1</option>
            <option>2</option>
          </select>
        </div>

        <div class="form-group">
          <label for="productionYear">Production Year</label>
          <input type="text" class="form-control" id="productionYear" formControlName="productionYear">
        </div>

        <div class="form-group">
          <label for="cc">Engine Capacity (CC)</label>
          <input type="text" class="form-control" id="cc" formControlName="engineCapacity">
        </div>

        <div class="d-flex justify-content-between form-group">
          <label>Has Turbo?</label>
          <div class="w-75 pt-1">
            <div class="form-check form-check-inline mr-5">
              <input class="form-check-input" type="radio" name="turboOptions" id="withTurbo" [value]="1">
              <label class="form-check-label" for="withTurbo">Yes</label>
            </div>
            <div class="form-check form-check-inline mr-5">
              <input class="form-check-input" type="radio" name="turboOptions" id="withoutTurbo" [value]="2">
              <label class="form-check-label" for="withoutTurbo">No</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="horsePower">Horse Power</label>
          <input type="text" class="form-control" id="horsePower" formControlName="horsePower">
        </div>

        <div class="d-flex justify-content-between form-group">
          <label>ABS</label>
          <div class="w-75 pt-1">
            <div class="form-check form-check-inline mr-5">
              <input class="form-check-input" type="radio" name="ABSoptions" id="withABS" [value]="1">
              <label class="form-check-label" for="withABS">Yes</label>
            </div>
            <div class="form-check form-check-inline mr-5">
              <input class="form-check-input" type="radio" name="ABSoptions" id="withoutABS" [value]="2">
              <label class="form-check-label" for="withoutABS">No</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="fueltank">Fueltank</label>
          <input type="text" class="form-control" id="fueltank" formControlName="fueltank">
        </div>

        <div class="form-group">
          <label for="">Cylinder</label>
          <!-- dropDown list -->
          <select formControlName="cylinderId" class="form-control" name="ddlCategory" id="">
            <option *ngFor="let cyl of cylinder" [value]="cyl.id">{{cyl.cyl}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Transmission</label>
          <!-- dropDown list -->
          <select formControlName="transimissionId" class="form-control" name="ddlCategory" id="">
            <option *ngFor="let trans of transimission" [value]="trans.id">{{trans.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="width">Width</label>
          <input type="text" class="form-control" id="width" formControlName="width">
        </div>

        <div class="form-group">
          <label for="height">Height</label>
          <input type="text" class="form-control" id="height" formControlName="height">
        </div>

        <div class="form-group">
          <label for="length">Length</label>
          <input type="text" class="form-control" id="length" formControlName="length">
        </div>

        <div class="d-flex justify-content-end">
          <button type="reset" class="btn btn--ordinary btn--color-secondary  mr-1"
            (onclick)="onClick()">Cancel</button>
          <button type="submit" class="btn btn--ordinary btn--color-primary mr-1">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>