<div class="container my-5 py-5 ">
  <div class="row no-gutters pt-3 d-flex justify-content-center">
    <div class="col-md-4 col-sm-6">
      <img src="../assets/photoTemplate300px.png" class="rounded mx-auto d-block img-fluid" alt="add spare part img">
    </div>
    <div class="col-md-7 col-sm-6 mx-2 mt-n1">
      <form>
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="text" class="form-control" id="Name">
        </div>
        <div class="form-group">
          <label for="Price">Price</label>
          <input type="text" class="form-control" id="Price">
        </div>
        <div class="d-flex justify-content-end">
          <button type="reset" class="btn btn--ordinary btn--color-secondary  mr-1">Cancel</button>
          <button type="submit" class="btn btn--ordinary btn--color-primary mr-1">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>